
.Hero-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.Hero-section-Contacts{
padding: 0;
}
.hero-content{
  width: 600px;
}
.hero-content h1{
    font-size: 55px;
}

.hero-content .Auto-type{
    color: blueviolet;
    /* height: 200px; */
}
.Auto-type-text{
  height: 200px;
}
.hero-img img{
    border-radius: 50%;
    object-fit: contain;
    background-color: white;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .floating-img {
    animation: floatUpDown 2.5s ease-in-out infinite;
    border-radius: 12px; /* optional: smooth corners */
  }
  
  @keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  

  @media (min-width:320px) and (max-width:720px) {
    .Hero-container {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      height: 74vh;
      overflow: none;
      margin-bottom: 60px;

    }
  
    .hero-content {
      padding: 10px;
      width: 450px;
    }
  
    .hero-img {
   text-align: center;
    }
  
    .floating-img {
      width: 350px;
      height: 350px;
    }
    .hero-content h1{
      font-size: 25px;
    }
    .Auto-type-text{
      font-size: 26px;
    }
    .Hero-section-Contacts{
      margin-right: 200px !important;
    }
  }