.skills-heading{
    font-size: 35px;
    text-decoration: underline;
    padding:25px;
    color:white;
    text-align: center;
}

.skill-container{
   color: white;
}
.skill{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 80px;
}
.skill-section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.skill-title{
    margin-left: 280px;
}