.skills-heading h1{
    font-size: 55px;
    padding:25px 40px;
    margin: 50px 10px;
    color:white;
    text-align: center;
}

.skill-container{
   color: white;
}
.skill{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 80px;
}
.skill-section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.skill-title{
    margin-left: 280px;
}

@media (max-width:600xpx){
    .skill-container{
        overflow: hidden;
    }
    .skill-container .skill-title{
        font-size: 20px;
        padding: 0;
        margin: -280px !important;
        text-align: start;
    }
    .skill-section1{
       display: flex;
       flex-wrap: wrap;

    }
}